<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<title>{{index.title}}</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" sizes="196x196" href="/images/icon-196.png">
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/jquery.js"></script>
</head>
<body>
<div id="banner">
	<div id="list">{{index.listhint}}</div>
	<div id="change-hash-tag">{{index.change}}</div>
	 
</div>
	<div id="popup">
 		<input type="text" id="hash-tag" placeholder="#Hashtag">
		<input type="submit" id="change-hash-submit">
	</div>

	<div id="content">

		<li>
			<img src="{{index.example.icon}}" alt="">
			<div id="name">{{index.example.name}} (@{{index.example.username}})</div>
			<div id="message">{{index.example.tweet}}</div>
		</li>
		
	</div>
	<div id="about">?
		<a href="http://slacy.me">
			<div>{{index.about}}
			</div>
		</a>
	</div> 
</body>
</html>